<html>   
<style>
body {
background-color: lightgrey
}
</style>
<body> 
    <img src="https://i.imgur.com/0PyREuz.png" alt="Flying Airplane"> 

    <div class="container">
        <h1>Contextualização</h1>
        <h3>Este é um trabalho da disciplina de Orientação a Objetos desenvolvido utilizando a linguagem Ruby juntamente com a framework Rails.</h3>
        <h3>O site consiste em um sistema de reservas de voos, no qual um usuário normal consegue reservar voos disponíveis, e os usuários administradores podem adicionar novos voos e editar usuários.</h3>
        <br>
        <br>
        <br>
</body> 
</html> 
