<p id="notice"><%= notice %></p>
<style>
body {
background-color: lightblue
}
</style>
<div class="container">
  <h1>Usuários Cadastrados</h1>
  <table>
  <div class="row">
    <div class="col-sm-1" style="background-color:lightgrey;"><h3>Admin</h3></div>
    <div class="col-sm-3" style="background-color:grey;"><h3>Username</h3></div>
  </div>

  <div class="row">
    <div class="col-sm-4" style="background-color:black;"></div>
  </div>
  <div class="row">
    <div class="col-sm-4" style="background-color:black;"></div>
  </div>

  <% @users.each do |user| %>
    <div class="row">
      <div class="col-sm-1" style="background-color:lightyellow;"><h5><%= user.admin %></h5></div>
      <div class="col-sm-3" style="background-color:lavender;"><h5><%= user.name %></h5></div>
      <button type="button" class="btn btn-info"><%= link_to 'Mostrar', user %></button>
      <% if can? :create, User %>
        <button type="button" class="btn btn-warning"><%= link_to 'Editar', edit_user_path(user) %></button>
      <% end %>
      <% if can? :create, User %>
       <button type="button" class="btn btn-danger"><%= link_to 'Apagar', user, method: :delete, data: { confirm: 'Tem certeza?' } %></button>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-4" style="background-color:black;"></div>
    </div>
    <div class="row">
      <div class="col-sm-4" style="background-color:black;"></div>
    </div>  
  <% end %>

</div>

</table>
