<%= form_with(model: voo, local: true) do |form| %>
  <% if voo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voo.errors.count, "error") %> prohibited this voo from being saved:</h2>

      <ul>
        <% voo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo %>
  </div>

  <div class="field">
    <%= form.label :destino %>
    <%= form.text_field :destino %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.text_field :data %>
  </div>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco %>
  </div>

  <div class="field">
    <%= form.label :empresa %>
    <%= form.text_field :empresa %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
