<p id="notice"><%= notice %></p>
<style>
body {
background-color: lightblue
}
</style>

<div class="container">

  <table>
      <div class="row">
        <div class="col-sm-1" style="background-color:lightgrey;"><h3>Código</h3></div>
        <div class="col-sm-2" style="background-color:grey;"><h3>Destino</h3></div>
        <div class="col-sm-2" style="background-color:lightgrey;"><h3>Data</h3></div>
        <div class="col-sm-2" style="background-color:grey;"><h3>Preço</h3></div>
        <div class="col-sm-2" style="background-color:lightgrey;"><h3>Empresa</h3></div>
      </div>

      <div class="row">
      <div class="col-sm-9" style="background-color:black;"></div>
    </div>
    <div class="row">
      <div class="col-sm-9" style="background-color:black;"></div>
    </div>
      <% @voos.each do |voo| %>
        <div class="row">
          <div class="col-sm-1" style="background-color:lightyellow;"><h5><%= voo.codigo %></h5></div>
          <div class="col-sm-2" style="background-color:lightgreen;"><h5><%= voo.destino %></h5></div>
          <div class="col-sm-2" style="background-color:lightyellow;"><h5><%= voo.data %></h5></div>
          <div class="col-sm-2" style="background-color:lightgreen;"><h5>R$ <%= voo.preco %></h5></div>
          <div class="col-sm-2" style="background-color:lightyellow;"><h5><%= voo.empresa %></h5></div>
          <button type="button" class="btn btn-info"><%= link_to 'Reservar', "/confirmation/index" %></button>
          <% if can? :create, User %>
            <button type="button" class="btn btn-warning"><%= link_to 'Editar', edit_voo_path(voo) %></button>
          <% end %>
          <% if can? :create, User %>
          <button type="button" class="btn btn-danger"><%= link_to 'Apagar', voo, method: :delete, data: { confirm: 'Tem certeza?' } %></button>
          <% end %>
        </div>
        <div class="row">
          <div class="col-sm-9" style="background-color:black;"></div>
        </div>
        <div class="row">
          <div class="col-sm-9" style="background-color:black;"></div>
        </div>  

      <% end %>
  </table>

  <br>

  <% if can? :create, Voo %>
    <button type="button" class="btn"><%= link_to 'Adicionar Voo', new_voo_path %></button>
  <% end %>
