<p id="notice"><%= notice %></p>
<div class="container">
<p>
  <strong>Codigo:</strong>
  <%= @voo.codigo %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @voo.destino %>
</p>

<p>
  <strong>Data:</strong>
  <%= @voo.data %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @voo.preco %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @voo.empresa %>
</p>

<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="/confirmation/index">Reservar</a>
  </li>
  ...
</ul>

<% if can? :create, Voo %>
    <%= link_to 'Edit', edit_voo_path(@voo) %>
<% end %>
<%= link_to 'Back', voos_path %>
</div>