<!DOCTYPE html>
<html>
  <head>
    <title>FGAirlines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
  body {
  background-color: lightgrey
  }
  </style>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/homepage/index">FGAirlines</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/voos">Voos</a></li>
          <li><a href="/users">Usuários</a></li>
        <% if user_signed_in? %> 
          <li><a>Logado como: <%= current_user.email %></a></li>
          <li><%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> </li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <% else %>
          <li><%= link_to "Registrar-se", new_user_registration_path, :class => 'navbar-link'  %> </li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <body>
    <%= yield %>
  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
    }
  </style>
  <div class="footer">
  <p>FGAirlines © 2019</p>
  <p>Developed by Mateus Gomes and Vinicius Saturnino</p>
</div>

  </body>
</html>
